In [1]:
import pandas as pd

# Limpieza de tabla players_info

In [ ]:
df_common_player_info = pd.read_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/common_player_info.csv")
df_common_player_info.head()

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,...,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24 00:00:00,Duke,USA,...,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16 00:00:00,UCLA,USA,...,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03 00:00:00,San Jose State,France,...,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11 00:00:00,California,USA,...,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,1954-05-06 00:00:00,Indiana,USA,...,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N

In [3]:
df_common_player_info.info()

<class 'pandas.DataFrame'>
RangeIndex: 4171 entries, 0 to 4170
Data columns (total 33 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   person_id                         4171 non-null   int64
 1   first_name                        4171 non-null   str
 2   last_name                         4171 non-null   str
 3   display_first_last                4171 non-null   str
 4   display_last_comma_first          4171 non-null   str
 5   display_fi_last                   4171 non-null   str
 6   player_slug                       4171 non-null   str
 7   birthdate                         4171 non-null   str
 8   school                            4156 non-null   str
 9   country                           4170 non-null   str
 10  last_affiliation                  4171 non-null   str
 11  height                            4075 non-null   str
 12  weight                            4071 non-null   float64
 13  season_exp                        4171 non-null   float64
 14  jersey                            3191 non-null   str
 15  position                          4108 non-null   str
 16  rosterstatus                      4171 non-null   str
 17  games_played_current_season_flag  4171 non-null   str
 18  team_id                           4171 non-null   int64
 19  team_name                         3469 non-null   str
 20  team_abbreviation                 3469 non-null   str
 21  team_code                         3469 non-null   str
 22  team_city                         3469 non-null   str
 23  playercode                        4170 non-null   str
 24  from_year                         4156 non-null   float64
 25  to_year                           4156 non-null   float64
 26  dleague_flag                      4171 non-null   str
 27  nba_flag                          4171 non-null   str
 28  games_played_flag                 4171 non-null   str
 29  draft_year                        4171 non-null   str
 30  draft_round                       4007 non-null   str
 31  draft_number                      3948 non-null   str
 32  greatest_75_flag                  4171 non-null   str
dtypes: float64(4), int64(2), str(27)
memory usage: 1.1 MB

In [4]:
df_player = pd.read_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/player.csv")
df_player.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0

In [5]:
df_player.info()

<class 'pandas.DataFrame'>
RangeIndex: 4831 entries, 0 to 4830
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4831 non-null   int64
 1   full_name   4831 non-null   str
 2   first_name  4825 non-null   str
 3   last_name   4831 non-null   str
 4   is_active   4831 non-null   int64
dtypes: int64(2), str(3)
memory usage: 188.8 KB

In [6]:
df_merged = df_player.merge(
    df_common_player_info,
    left_on="id",
    right_on="person_id",
    how="left"
)
df_merged.info()

<class 'pandas.DataFrame'>
RangeIndex: 4831 entries, 0 to 4830
Data columns (total 38 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                4831 non-null   int64
 1   full_name                         4831 non-null   str
 2   first_name_x                      4825 non-null   str
 3   last_name_x                       4831 non-null   str
 4   is_active                         4831 non-null   int64
 5   person_id                         4171 non-null   float64
 6   first_name_y                      4171 non-null   str
 7   last_name_y                       4171 non-null   str
 8   display_first_last                4171 non-null   str
 9   display_last_comma_first          4171 non-null   str
 10  display_fi_last                   4171 non-null   str
 11  player_slug                       4171 non-null   str
 12  birthdate                         4171 non-null   str
 13  school                            4156 non-null   str
 14  country                           4170 non-null   str
 15  last_affiliation                  4171 non-null   str
 16  height                            4075 non-null   str
 17  weight                            4071 non-null   float64
 18  season_exp                        4171 non-null   float64
 19  jersey                            3191 non-null   str
 20  position                          4108 non-null   str
 21  rosterstatus                      4171 non-null   str
 22  games_played_current_season_flag  4171 non-null   str
 23  team_id                           4171 non-null   float64
 24  team_name                         3469 non-null   str
 25  team_abbreviation                 3469 non-null   str
 26  team_code                         3469 non-null   str
 27  team_city                         3469 non-null   str
 28  playercode                        4170 non-null   str
 29  from_year                         4156 non-null   float64
 30  to_year                           4156 non-null   float64
 31  dleague_flag                      4171 non-null   str
 32  nba_flag                          4171 non-null   str
 33  games_played_flag                 4171 non-null   str
 34  draft_year                        4171 non-null   str
 35  draft_round                       4007 non-null   str
 36  draft_number                      3948 non-null   str
 37  greatest_75_flag                  4171 non-null   str
dtypes: float64(6), int64(2), str(30)
memory usage: 1.4 MB

In [7]:
df_final = df_merged[[
    "id",              # este será tu player_id
    "first_name_x",    # viene de df_player
    "last_name_x",     # viene de df_player
    "full_name",       # viene de df_player
    "is_active",       # viene de df_player
    "birthdate",       # viene de df_common_player_info
    "country",         # viene de df_common_player_info
    "height",          # viene de df_common_player_info
    "weight"           # viene de df_common_player_info
]]

# Renombramos columnas 
df_final = df_final.rename(columns={
    "id": "player_id",
    "first_name_x": "first_name",
    "last_name_x": "last_name"
})

print(df_final.head())

   player_id first_name     last_name            full_name  is_active  \
0      76001       Alaa     Abdelnaby       Alaa Abdelnaby          0
1      76002       Zaid    Abdul-Aziz      Zaid Abdul-Aziz          0
2      76003     Kareem  Abdul-Jabbar  Kareem Abdul-Jabbar          0
3         51    Mahmoud    Abdul-Rauf   Mahmoud Abdul-Rauf          0
4       1505      Tariq   Abdul-Wahad    Tariq Abdul-Wahad          0

             birthdate country height  weight
0  1968-06-24 00:00:00     USA   6-10   240.0
1                  NaN     NaN    NaN     NaN
2  1947-04-16 00:00:00     USA    7-2   225.0
3                  NaN     NaN    NaN     NaN
4  1974-11-03 00:00:00  France    6-6   235.0

In [94]:
df_final.info()

<class 'pandas.DataFrame'>
RangeIndex: 4831 entries, 0 to 4830
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   player_id   4831 non-null   int64
 1   first_name  4831 non-null   str
 2   last_name   4831 non-null   str
 3   full_name   4831 non-null   str
 4   is_active   4831 non-null   int64
 5   birthdate   4171 non-null   datetime64[us]
 6   country     4831 non-null   str
 7   height      4831 non-null   float64
 8   weight      4831 non-null   float64
dtypes: datetime64[us](1), float64(2), int64(2), str(4)
memory usage: 339.8 KB

In [9]:
df_final["birthdate"] = pd.to_datetime(df_final["birthdate"], errors="coerce")

# Verificar
print(df_final[["player_id", "birthdate"]].head())
print(df_final["birthdate"].dtype)

   player_id  birthdate
0      76001 1968-06-24
1      76002        NaT
2      76003 1947-04-16
3         51        NaT
4       1505 1974-11-03
datetime64[us]

In [10]:
# Contar cuántos NaT hay en la columna birthdate
nat_count = df_final["birthdate"].isna().sum()

print("Cantidad de NaT en birthdate:", nat_count)

Cantidad de NaT en birthdate: 660

In [19]:
nulos = df_final.isna().sum()
print(nulos)

player_id       0
first_name      0
last_name       0
full_name       0
is_active       0
birthdate     660
country         0
height          0
weight          0
dtype: int64

In [ ]:
# Rellenar nulos en first_name con la primera palabra de full_name
df_final["first_name"] = df_final.apply(
    lambda row: row["full_name"].split()[0] if pd.isna(row["first_name"]) else row["first_name"],
    axis=1
)

# Verificamos nulos
print(df_final["first_name"].isna().sum())

0

In [13]:
# Reemplazar nulos en country por "Other"
df_final["country"] = df_final["country"].fillna("Other")

# Verificar nulos
print(df_final["country"].isna().sum())

0

In [14]:
# Función para convertir "6-10" en centímetros
def height_to_cm(h):
    try:
        feet, inches = h.split("-")
        feet = int(feet)
        inches = int(inches)
        total_inches = feet * 12 + inches
        return total_inches * 2.54  # convertir a cm
    except:
        return None  # si hay nulos o valores inválidos

# Aplicar la función a la columna height
df_final["height"] = df_final["height"].apply(height_to_cm)

# Verificar
print(df_final[["player_id", "height"]].head())
print(df_final["height"].dtype)  # debería ser float64

   player_id  height
0      76001  208.28
1      76002     NaN
2      76003  218.44
3         51     NaN
4       1505  198.12
float64

In [15]:
# Convertir de cm a metros y redondear a 2 decimales
df_final["height"] = (df_final["height"] / 100).round(2)

# Verificar
print(df_final[["player_id", "height"]].head())
print(df_final["height"].dtype)  # debería ser float64

   player_id  height
0      76001    2.08
1      76002     NaN
2      76003    2.18
3         51     NaN
4       1505    1.98
float64

In [16]:
# Convertir de libras a kilogramos 
df_final["weight"] = (df_final["weight"] * 0.453592).round(2)

# Verificar
print(df_final[["player_id", "weight"]].head())
print(df_final["weight"].dtype)  # debería ser float64

   player_id  weight
0      76001  108.86
1      76002     NaN
2      76003  102.06
3         51     NaN
4       1505  106.59
float64

In [17]:
# Calcular los promedios ignorando nulos
mean_height = df_final["height"].mean()
mean_weight = df_final["weight"].mean()

# Reemplazar nulos con el promedio
df_final["height"] = df_final["height"].fillna(mean_height)
df_final["weight"] = df_final["weight"].fillna(mean_weight)

# Verificar que ya no haya nulos
print("Nulos en height:", df_final["height"].isna().sum())
print("Nulos en weight:", df_final["weight"].isna().sum())

Nulos en height: 0
Nulos en weight: 0

In [91]:
df_final.to_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/players_info.csv", index=False)

# Limpieza de tabla team

In [21]:
df_team = pd.read_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/team.csv")
df_team.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949.0
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970.0
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002.0
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966.0

In [95]:
df_team.info()

<class 'pandas.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            30 non-null     int64
 1   full_name     30 non-null     str
 2   abbreviation  30 non-null     str
 3   nickname      30 non-null     str
 4   city          30 non-null     str
 5   state         30 non-null     str
 6   year_founded  30 non-null     Int64
dtypes: Int64(1), int64(1), str(5)
memory usage: 1.8 KB

In [24]:
# Convertir year_founded de float a int
df_team["year_founded"] = df_team["year_founded"].astype("Int64")

# Verificar
print(df_team[["full_name", "year_founded"]].head())
print(df_team["year_founded"].dtype)

              full_name  year_founded
0         Atlanta Hawks          1949
1        Boston Celtics          1946
2   Cleveland Cavaliers          1970
3  New Orleans Pelicans          2002
4         Chicago Bulls          1966
Int64

In [26]:
nulos_team = df_team.isna().sum()
print(nulos_team)

id              0
full_name       0
abbreviation    0
nickname        0
city            0
state           0
year_founded    0
dtype: int64

In [92]:
df_team.to_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/team.csv", index=False)

# Limpieza de inactive_players

In [29]:
df_inactive_players = pd.read_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/inactive_players.csv")
df_inactive_players.head()

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
0,29600034,184,Bobby,Phills,14.0,1610612739,Cleveland,Cavaliers,CLE
1,29600034,781,Will,Perdue,41.0,1610612759,San Antonio,Spurs,SAS
2,29600132,120,Steven,Smith,8.0,1610612737,Atlanta,Hawks,ATL
3,29600203,698,Eddie,Johnson,8.0,1610612754,Indiana,Pacers,IND
4,29600213,32,Clifford,Rozier,44.0,1610612753,Orlando,Magic,ORL

In [96]:
df_inactive_players.info()

<class 'pandas.DataFrame'>
RangeIndex: 110191 entries, 0 to 110190
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   game_id            110191 non-null  int64
 1   player_id          110191 non-null  int64
 2   first_name         110191 non-null  str
 3   last_name          110191 non-null  str
 4   jersey_num         110191 non-null  str
 5   team_id            110191 non-null  int64
 6   team_abbreviation  110191 non-null  str
dtypes: int64(3), str(4)
memory usage: 5.9 MB

In [31]:
#Convertir jersey_num a string
df_inactive_players["jersey_num"] = df_inactive_players["jersey_num"].astype("str")

In [38]:
df_inactive_players = df_inactive_players.drop(columns=["team_city","team_name"])
df_inactive_players.head()

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_abbreviation
0,29600034,184,Bobby,Phills,14.0,1610612739,CLE
1,29600034,781,Will,Perdue,41.0,1610612759,SAS
2,29600132,120,Steven,Smith,8.0,1610612737,ATL
3,29600203,698,Eddie,Johnson,8.0,1610612754,IND
4,29600213,32,Clifford,Rozier,44.0,1610612753,ORL

In [42]:
nulos_inactives=df_inactive_players.isna().sum()
print(nulos_inactives)

game_id              0
player_id            0
first_name           0
last_name            0
jersey_num           0
team_id              0
team_abbreviation    0
dtype: int64

In [41]:
# Reemplazar nulos en columnas de texto por "Unknown"
df_inactive_players["first_name"] = df_inactive_players["first_name"].fillna("Unknown")
df_inactive_players["last_name"] = df_inactive_players["last_name"].fillna("Unknown")
df_inactive_players["jersey_num"] = df_inactive_players["jersey_num"].fillna("Unknown")

In [43]:
df_inactive_players.to_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/inactive_players.csv", index=False)

# Limpieza de game_summary

In [46]:
df_game_summary = pd.read_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/game_summary.csv")
df_game_summary.head()

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
0,1946-11-01 00:00:00,NaN,24600001,3,NaN,19461101/NYKHUS,1610610035,1610612752,1946,5,NaN,NaN,Q5 -,1
1,1946-11-02 00:00:00,NaN,24600003,3,NaN,19461102/PITBOM,1610610034,1610610031,1946,4,NaN,NaN,Q4 -,1
2,1946-11-02 00:00:00,NaN,24600002,3,NaN,19461102/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
3,1946-11-02 00:00:00,NaN,24600004,3,NaN,19461102/NYKCHS,1610610025,1610612752,1946,4,NaN,NaN,Q4 -,1
4,1946-11-02 00:00:00,NaN,24600005,3,NaN,19461102/WASDEF,1610610028,1610610036,1946,4,NaN,NaN,Q4 -,1

In [47]:
df_game_summary.info()

<class 'pandas.DataFrame'>
RangeIndex: 58110 entries, 0 to 58109
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   game_date_est                     58110 non-null  str
 1   game_sequence                     32578 non-null  float64
 2   game_id                           58110 non-null  int64
 3   game_status_id                    58110 non-null  int64
 4   game_status_text                  32124 non-null  str
 5   gamecode                          58110 non-null  str
 6   home_team_id                      58110 non-null  int64
 7   visitor_team_id                   58110 non-null  int64
 8   season                            58110 non-null  int64
 9   live_period                       58110 non-null  int64
 10  live_pc_time                      2024 non-null   str
 11  natl_tv_broadcaster_abbreviation  6203 non-null   str
 12  live_period_time_bcast            58110 non-null  str
 13  wh_status                         58110 non-null  int64
dtypes: float64(1), int64(7), str(6)
memory usage: 6.2 MB

In [49]:
df_game_summary["game_date_est"] = pd.to_datetime(df_game_summary["game_date_est"], errors="coerce")

# Verificar
print(df_game_summary[["game_date_est"]].head(10))
print(df_game_summary["game_date_est"].dtype)

  game_date_est
0    1946-11-01
1    1946-11-02
2    1946-11-02
3    1946-11-02
4    1946-11-02
5    1946-11-03
6    1946-11-05
7    1946-11-05
8    1946-11-07
9    1946-11-07
datetime64[us]

In [50]:
# Filtrar solo los juegos de 2021 y 2022
df_game_filtered = df_game_summary[
    df_game_summary["game_date_est"].dt.year.isin([2021, 2022])
]

# Verificar
print(df_game_filtered["game_date_est"].min(), df_game_filtered["game_date_est"].max())
print(df_game_filtered.shape)

2021-01-01 00:00:00 2022-12-31 00:00:00
(2867, 14)

In [ ]:
df_game_filtered = df_game_filtered.drop(
    columns=[
        "natl_tv_broadcaster_abbreviation",
        "live_period_time_bcast",
        "wh_status"
    ]
)

In [52]:
# Verificar
df_game_filtered.head()

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time
54505,2021-01-01,6.0,22000074,3,Final,20210101/WASMIN,1610612750,1610612764,2020,4,NaN
54506,2021-01-01,9.0,22000077,3,Final,20210101/LACUTA,1610612762,1610612746,2020,4,NaN
54507,2021-01-01,7.0,22000075,3,Final,20210101/LALSAS,1610612759,1610612747,2020,4,NaN
54508,2021-01-01,2.0,22000070,3,Final,20210101/BOSDET,1610612765,1610612738,2020,4,NaN
54509,2021-01-01,3.0,22000071,3,Final,20210101/MIADAL,1610612742,1610612748,2020,4,NaN

In [97]:
df_game_filtered.info()

<class 'pandas.DataFrame'>
Index: 2867 entries, 54505 to 58026
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   game_date_est     2867 non-null   datetime64[us]
 1   game_sequence     2867 non-null   Int64
 2   game_id           2867 non-null   int64
 3   game_status_id    2867 non-null   int64
 4   game_status_text  2867 non-null   str
 5   gamecode          2867 non-null   str
 6   home_team_id      2867 non-null   int64
 7   visitor_team_id   2867 non-null   int64
 8   season            2867 non-null   int64
 9   live_period       2867 non-null   int64
dtypes: Int64(1), datetime64[us](1), int64(6), str(2)
memory usage: 249.2 KB

In [55]:
df_game_filtered["game_sequence"] = df_game_filtered["game_sequence"].astype("Int64")

In [59]:
nulos_game = df_game_filtered.isna().sum()
print(nulos_game)

game_date_est       0
game_sequence       0
game_id             0
game_status_id      0
game_status_text    0
gamecode            0
home_team_id        0
visitor_team_id     0
season              0
live_period         0
dtype: int64

In [57]:
df_game_filtered = df_game_filtered.drop(
    columns=["live_pc_time"]
)

In [93]:
df_game_filtered.to_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/game_summary.csv", index=False)

# Limpieza de line_score

In [61]:
df_line_score = pd.read_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/line_score.csv")
df_line_score.head()

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,...,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
0,1946-11-01 00:00:00,NaN,24600001,1610610035,HUS,Toronto,Huskies,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0
1,1946-11-02 00:00:00,NaN,24600003,1610610034,BOM,St. Louis,Bombers,-,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0
2,1946-11-02 00:00:00,NaN,24600002,1610612738,BOS,Boston,Celtics,-,10.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
3,1946-11-02 00:00:00,NaN,24600004,1610610025,CHS,Chicago,Stags,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0
4,1946-11-02 00:00:00,NaN,24600005,1610610036,WAS,Washington,Capitols,-,21.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0

In [62]:
df_line_score.info()

<class 'pandas.DataFrame'>
RangeIndex: 58053 entries, 0 to 58052
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_date_est           58053 non-null  str
 1   game_sequence           32521 non-null  float64
 2   game_id                 58053 non-null  int64
 3   team_id_home            58053 non-null  int64
 4   team_abbreviation_home  58053 non-null  str
 5   team_city_name_home     58053 non-null  str
 6   team_nickname_home      58053 non-null  str
 7   team_wins_losses_home   58053 non-null  str
 8   pts_qtr1_home           57049 non-null  float64
 9   pts_qtr2_home           57040 non-null  float64
 10  pts_qtr3_home           57008 non-null  float64
 11  pts_qtr4_home           57009 non-null  float64
 12  pts_ot1_home            32294 non-null  float64
 13  pts_ot2_home            31002 non-null  float64
 14  pts_ot3_home            30810 non-null  float64
 15  pts_ot4_home            30783 non-null  float64
 16  pts_ot5_home            12476 non-null  float64
 17  pts_ot6_home            12475 non-null  float64
 18  pts_ot7_home            12475 non-null  float64
 19  pts_ot8_home            12475 non-null  float64
 20  pts_ot9_home            12475 non-null  float64
 21  pts_ot10_home           12475 non-null  float64
 22  pts_home                58053 non-null  float64
 23  team_id_away            58053 non-null  int64
 24  team_abbreviation_away  58053 non-null  str
 25  team_city_name_away     58053 non-null  str
 26  team_nickname_away      58053 non-null  str
 27  team_wins_losses_away   58053 non-null  str
 28  pts_qtr1_away           57043 non-null  float64
 29  pts_qtr2_away           57040 non-null  float64
 30  pts_qtr3_away           57007 non-null  float64
 31  pts_qtr4_away           57007 non-null  float64
 32  pts_ot1_away            32294 non-null  float64
 33  pts_ot2_away            31002 non-null  float64
 34  pts_ot3_away            30810 non-null  float64
 35  pts_ot4_away            30783 non-null  float64
 36  pts_ot5_away            12476 non-null  float64
 37  pts_ot6_away            12475 non-null  float64
 38  pts_ot7_away            12475 non-null  float64
 39  pts_ot8_away            12475 non-null  float64
 40  pts_ot9_away            12475 non-null  float64
 41  pts_ot10_away           12475 non-null  float64
 42  pts_away                58053 non-null  float64
dtypes: float64(31), int64(3), str(9)
memory usage: 19.0 MB

In [63]:
# Eliminar columnas específicas
df_line_score = df_line_score.drop(
    columns=[
        "team_city_name_home",
        "team_nickname_home",
        "team_city_name_away",
        "team_nickname_away"
    ]
)

# Verificar
print(df_line_score.head())
print(df_line_score.shape)

         game_date_est  game_sequence   game_id  team_id_home  \
0  1946-11-01 00:00:00            NaN  24600001    1610610035
1  1946-11-02 00:00:00            NaN  24600003    1610610034
2  1946-11-02 00:00:00            NaN  24600002    1610612738
3  1946-11-02 00:00:00            NaN  24600004    1610610025
4  1946-11-02 00:00:00            NaN  24600005    1610610036

  team_abbreviation_home team_wins_losses_home  pts_qtr1_home  pts_qtr2_home  \
0                    HUS                     -            NaN            NaN
1                    BOM                     -           16.0           16.0
2                    BOS                     -           10.0           16.0
3                    CHS                     -            NaN            NaN
4                    WAS                     -           21.0            4.0

   pts_qtr3_home  pts_qtr4_home  ...  pts_ot2_away  pts_ot3_away  \
0            NaN            NaN  ...           NaN           NaN
1           18.0            6.0  ...           NaN           NaN
2           14.0           13.0  ...           NaN           NaN
3            NaN            NaN  ...           NaN           NaN
4           12.0           13.0  ...           NaN           NaN

   pts_ot4_away  pts_ot5_away  pts_ot6_away  pts_ot7_away  pts_ot8_away  \
0           NaN           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN           NaN
2           NaN           NaN           NaN           NaN           NaN
3           NaN           NaN           NaN           NaN           NaN
4           NaN           NaN           NaN           NaN           NaN

   pts_ot9_away  pts_ot10_away  pts_away
0           NaN            NaN      68.0
1           NaN            NaN      51.0
2           NaN            NaN      59.0
3           NaN            NaN      47.0
4           NaN            NaN      33.0

[5 rows x 39 columns]
(58053, 39)

In [64]:
# Convertir la columna a tipo datetime
df_line_score["game_date_est"] = pd.to_datetime(df_line_score["game_date_est"])

# Verificar el tipo de dato
print(df_line_score["game_date_est"].dtype)

datetime64[us]

In [65]:
# Filtrar solo los juegos de 2021 y 2022
df_score_filtered = df_line_score[
    df_line_score["game_date_est"].dt.year.isin([2021, 2022])
]

# Verificar
print(df_score_filtered["game_date_est"].min(), df_score_filtered["game_date_est"].max())
print(df_score_filtered.shape)

2021-01-01 00:00:00 2022-12-31 00:00:00
(2826, 39)

In [71]:
nulos_score = df_score_filtered.isna().sum()
print(nulos_score)

game_date_est             0
game_sequence             0
game_id                   0
team_id_home              0
team_abbreviation_home    0
team_wins_losses_home     0
pts_qtr1_home             0
pts_qtr2_home             0
pts_qtr3_home             0
pts_qtr4_home             0
pts_ot1_home              0
pts_ot2_home              0
pts_ot3_home              0
pts_ot4_home              0
pts_ot5_home              0
pts_ot6_home              0
pts_ot7_home              0
pts_ot8_home              0
pts_ot9_home              0
pts_ot10_home             0
pts_home                  0
team_id_away              0
team_abbreviation_away    0
team_wins_losses_away     0
pts_qtr1_away             0
pts_qtr2_away             0
pts_qtr3_away             0
pts_qtr4_away             0
pts_ot1_away              0
pts_ot2_away              0
pts_ot3_away              0
pts_ot4_away              0
pts_ot5_away              0
pts_ot6_away              0
pts_ot7_away              0
pts_ot8_away              0
pts_ot9_away              0
pts_ot10_away             0
pts_away                  0
dtype: int64

In [98]:
df_score_filtered.info()

<class 'pandas.DataFrame'>
Index: 2826 entries, 54489 to 57969
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_date_est           2826 non-null   datetime64[us]
 1   game_sequence           2826 non-null   Int64
 2   game_id                 2826 non-null   int64
 3   team_id_home            2826 non-null   int64
 4   team_abbreviation_home  2826 non-null   str
 5   team_wins_losses_home   2826 non-null   str
 6   pts_qtr1_home           2826 non-null   float64
 7   pts_qtr2_home           2826 non-null   float64
 8   pts_qtr3_home           2826 non-null   float64
 9   pts_qtr4_home           2826 non-null   float64
 10  pts_ot1_home            2826 non-null   float64
 11  pts_ot2_home            2826 non-null   float64
 12  pts_ot3_home            2826 non-null   float64
 13  pts_ot4_home            2826 non-null   float64
 14  pts_ot5_home            2826 non-null   float64
 15  pts_ot6_home            2826 non-null   float64
 16  pts_ot7_home            2826 non-null   float64
 17  pts_ot8_home            2826 non-null   float64
 18  pts_ot9_home            2826 non-null   float64
 19  pts_ot10_home           2826 non-null   float64
 20  pts_home                2826 non-null   float64
 21  team_id_away            2826 non-null   int64
 22  team_abbreviation_away  2826 non-null   str
 23  team_wins_losses_away   2826 non-null   str
 24  pts_qtr1_away           2826 non-null   float64
 25  pts_qtr2_away           2826 non-null   float64
 26  pts_qtr3_away           2826 non-null   float64
 27  pts_qtr4_away           2826 non-null   float64
 28  pts_ot1_away            2826 non-null   float64
 29  pts_ot2_away            2826 non-null   float64
 30  pts_ot3_away            2826 non-null   float64
 31  pts_ot4_away            2826 non-null   float64
 32  pts_ot5_away            2826 non-null   float64
 33  pts_ot6_away            2826 non-null   float64
 34  pts_ot7_away            2826 non-null   float64
 35  pts_ot8_away            2826 non-null   float64
 36  pts_ot9_away            2826 non-null   float64
 37  pts_ot10_away           2826 non-null   float64
 38  pts_away                2826 non-null   float64
dtypes: Int64(1), datetime64[us](1), float64(30), int64(3), str(4)
memory usage: 885.9 KB

In [68]:
df_score_filtered["game_sequence"] = df_score_filtered["game_sequence"].astype("Int64")

In [70]:
df_score_filtered.head(10)

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,pts_qtr3_home,pts_qtr4_home,...,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
54489,2021-01-01,6,22000074,1610612750,MIN,2-3,25.0,32.0,14.0,38.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,130.0
54490,2021-01-01,9,22000077,1610612762,UTA,3-2,31.0,20.0,33.0,22.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
54491,2021-01-01,7,22000075,1610612759,SAS,2-3,31.0,26.0,28.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0
54492,2021-01-01,2,22000070,1610612738,BOS,3-3,12.0,28.0,33.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0
54493,2021-01-01,3,22000071,1610612742,DAL,2-3,20.0,26.0,27.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83.0
54494,2021-01-01,8,22000076,1610612743,DEN,1-4,32.0,17.0,29.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,106.0
54495,2021-01-01,1,22000069,1610612763,MEM,2-3,23.0,30.0,30.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.0
54496,2021-01-01,5,22000073,1610612749,MIL,3-3,27.0,35.0,34.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0
54497,2021-01-01,4,22000072,1610612737,ATL,4-1,29.0,32.0,28.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0
54498,2021-01-01,10,22000078,1610612744,GSW,2-3,21.0,34.0,25.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123.0

In [99]:
df_score_filtered.to_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/line_score.csv", index=False)

# Limpieza de player_stats

In [73]:
df_player_stats = pd.read_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/NBA_players_stats_final.csv")
df_player_stats.head()

,player_id,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,team_id
0,76001,NaN,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
1,76002,NaN,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
2,76003,NaN,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
3,51,PG,28.0,SAC,31.0,0.0,17.1,3.3,8.8,0.377,...,1.0,1.2,1.9,0.5,0.0,0.6,1.0,7.3,1997-1998,1.610613e+09
4,51,PG,31.0,MEM,41.0,0.0,11.9,2.9,6.0,0.488,...,0.5,0.6,1.9,0.2,0.0,0.6,1.2,6.5,2000-2001,1.610613e+09

In [74]:
df_player_stats.info()

<class 'pandas.DataFrame'>
RangeIndex: 16331 entries, 0 to 16330
Data columns (total 31 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  16331 non-null  int64
 1   Pos        13732 non-null  str
 2   Age        13732 non-null  float64
 3   Tm         16331 non-null  str
 4   G          13732 non-null  float64
 5   GS         13732 non-null  float64
 6   MP         13732 non-null  float64
 7   FG         13732 non-null  float64
 8   FGA        13732 non-null  float64
 9   FG%        13644 non-null  float64
 10  3P         13732 non-null  float64
 11  3PA        13732 non-null  float64
 12  3P%        11675 non-null  float64
 13  2P         13732 non-null  float64
 14  2PA        13732 non-null  float64
 15  2P%        13580 non-null  float64
 16  eFG%       13644 non-null  float64
 17  FT         13732 non-null  float64
 18  FTA        13732 non-null  float64
 19  FT%        13020 non-null  float64
 20  ORB        13732 non-null  float64
 21  DRB        13732 non-null  float64
 22  TRB        13732 non-null  float64
 23  AST        13732 non-null  float64
 24  STL        13732 non-null  float64
 25  BLK        13732 non-null  float64
 26  TOV        13732 non-null  float64
 27  PF         13732 non-null  float64
 28  PTS        13732 non-null  float64
 29  Year       13732 non-null  str
 30  team_id    16331 non-null  float64
dtypes: float64(27), int64(1), str(3)
memory usage: 3.9 MB

In [76]:
# Filtrar temporadas por string exacto
df_stats_filtered = df_player_stats[
    df_player_stats["Year"].isin(["2020-2021", "2021-2022", "2022-2023"])
]

# Verificar
print(df_stats_filtered["Year"].unique())
print(df_stats_filtered.shape)

<StringArray>
['2020-2021', '2021-2022']
Length: 2, dtype: str
(1411, 31)

In [77]:
# Convertir la columna Age a entero
df_stats_filtered["Age"] = df_stats_filtered["Age"].astype(int)

# Verificar
print(df_stats_filtered["Age"].dtype)

int64

In [80]:
nulos_stats = df_stats_filtered.isna().sum()
print(nulos_stats)

player_id    0
Pos          0
Age          0
Tm           0
G            0
GS           0
MP           0
FG           0
FGA          0
FG%          0
3P           0
3PA          0
3P%          0
2P           0
2PA          0
2P%          0
eFG%         0
FT           0
FTA          0
FT%          0
ORB          0
DRB          0
TRB          0
AST          0
STL          0
BLK          0
TOV          0
PF           0
PTS          0
Year         0
team_id      0
dtype: int64

In [79]:
# Reemplazar nulos por 0 en columnas de porcentajes
df_stats_filtered[["FG%", "3P%", "2P%", "eFG%", "FT%"]] = (
    df_stats_filtered[["FG%", "3P%", "2P%", "eFG%", "FT%"]].fillna(0)
)

df_stats_filtered.head()

,player_id,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,team_id
32,1630173,PF,21,MIA,61.0,4.0,12.1,2.0,3.7,0.544,...,2.2,3.4,0.5,0.3,0.5,0.7,1.5,5.0,2020-2021,1.610613e+09
33,1630173,C,22,TOR,73.0,28.0,23.6,3.6,8.3,0.439,...,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1,2021-2022,1.610613e+09
57,1629121,PG,24,MIL,7.0,0.0,2.6,0.1,1.1,0.125,...,0.4,0.4,0.3,0.0,0.0,0.0,0.1,0.3,2020-2021,1.610613e+09
68,203500,C,27,NOP,58.0,58.0,27.7,3.3,5.3,0.614,...,5.2,8.9,1.9,0.9,0.7,1.3,1.9,7.6,2020-2021,1.610613e+09
69,203500,C,28,MEM,76.0,75.0,26.3,2.8,5.1,0.547,...,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9,2021-2022,1.610613e+09

In [100]:
df_stats_filtered.info()

<class 'pandas.DataFrame'>
RangeIndex: 1411 entries, 0 to 1410
Data columns (total 32 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  1411 non-null   int64
 1   full_name  1411 non-null   str
 2   Pos        1411 non-null   str
 3   Age        1411 non-null   int64
 4   Tm         1411 non-null   str
 5   G          1411 non-null   float64
 6   GS         1411 non-null   float64
 7   MP         1411 non-null   float64
 8   FG         1411 non-null   float64
 9   FGA        1411 non-null   float64
 10  FG%        1411 non-null   float64
 11  3P         1411 non-null   float64
 12  3PA        1411 non-null   float64
 13  3P%        1411 non-null   float64
 14  2P         1411 non-null   float64
 15  2PA        1411 non-null   float64
 16  2P%        1411 non-null   float64
 17  eFG%       1411 non-null   float64
 18  FT         1411 non-null   float64
 19  FTA        1411 non-null   float64
 20  FT%        1411 non-null   float64
 21  ORB        1411 non-null   float64
 22  DRB        1411 non-null   float64
 23  TRB        1411 non-null   float64
 24  AST        1411 non-null   float64
 25  STL        1411 non-null   float64
 26  BLK        1411 non-null   float64
 27  TOV        1411 non-null   float64
 28  PF         1411 non-null   float64
 29  PTS        1411 non-null   float64
 30  Year       1411 non-null   str
 31  team_id    1411 non-null   float64
dtypes: float64(26), int64(2), str(4)
memory usage: 352.9 KB

In [85]:
# Unir df_stats_filtered con df_final para traer el full_name
df_stats_filtered = df_stats_filtered.merge(
    df_final[["player_id", "full_name"]],   # solo las columnas necesarias
    on="player_id",                         # clave de unión
    how="left"                              # mantiene todos los registros de df_stats_filtered
)

# Verificar
print(df_stats_filtered[["player_id", "full_name"]].head())

   player_id         full_name
0    1630173  Precious Achiuwa
1    1630173  Precious Achiuwa
2    1629121      Jaylen Adams
3     203500      Steven Adams
4     203500      Steven Adams

In [89]:
df_stats_filtered.head(50)

,player_id,full_name,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,team_id
0,1630173,Precious Achiuwa,PF,21,MIA,61.0,4.0,12.1,2.0,3.7,...,2.2,3.4,0.5,0.3,0.5,0.7,1.5,5.0,2020-2021,1.610613e+09
1,1630173,Precious Achiuwa,C,22,TOR,73.0,28.0,23.6,3.6,8.3,...,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1,2021-2022,1.610613e+09
2,1629121,Jaylen Adams,PG,24,MIL,7.0,0.0,2.6,0.1,1.1,...,0.4,0.4,0.3,0.0,0.0,0.0,0.1,0.3,2020-2021,1.610613e+09
3,203500,Steven Adams,C,27,NOP,58.0,58.0,27.7,3.3,5.3,...,5.2,8.9,1.9,0.9,0.7,1.3,1.9,7.6,2020-2021,1.610613e+09
4,203500,Steven Adams,C,28,MEM,76.0,75.0,26.3,2.8,5.1,...,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9,2021-2022,1.610613e+09
5,1628389,Bam Adebayo,C,23,MIA,64.0,64.0,33.5,7.1,12.5,...,6.7,9.0,5.4,1.2,1.0,2.6,2.3,18.7,2020-2021,1.610613e+09
6,1628389,Bam Adebayo,C,24,MIA,56.0,56.0,32.6,7.3,13.0,...,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1,2021-2022,1.610613e+09
7,1630583,Santi Aldama,PF,21,MEM,32.0,0.0,11.3,1.7,4.1,...,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1,2021-2022,1.610613e+09
8,200746,LaMarcus Aldridge,C,35,Other,26.0,23.0,25.9,5.4,11.4,...,3.8,4.5,1.9,0.4,1.1,1.0,1.8,13.5,2020-2021,0.000000e+00
9,200746,LaMarcus Aldridge,C,35,SAS,21.0,18.0,25.9,5.5,11.8,...,3.7,4.5,1.7,0.4,0.9,1.0,1.7,13.7,2020-2021,1.610613e+09
10,200746,LaMarcus Aldridge,C,35,BKN,5.0,5.0,26.0,5.0,9.6,...,4.4,4.8,2.6,0.6,2.2,1.4,2.2,12.8,2020-2021,1.610613e+09
11,200746,LaMarcus Aldridge,C,36,BKN,47.0,12.0,22.3,5.4,9.7,...,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9,2021-2022,1.610613e+09
12,1630234,Ty-Shon Alexander,SG,22,PHX,15.0,0.0,3.1,0.2,0.8,...,0.5,0.7,0.4,0.0,0.1,0.2,0.1,0.6,2020-2021,1.610613e+09
13,1629638,Nickeil Alexander-Walker,SG,22,NOP,46.0,13.0,21.9,4.2,10.0,...,2.8,3.1,2.2,1.0,0.5,1.5,1.9,11.0,2020-2021,1.610613e+09
14,1629638,Nickeil Alexander-Walker,SG,23,Other,65.0,21.0,22.6,3.9,10.5,...,2.3,2.9,2.4,0.7,0.4,1.4,1.6,10.6,2021-2022,0.000000e+00
15,1629638,Nickeil Alexander-Walker,SG,23,NOP,50.0,19.0,26.3,4.7,12.6,...,2.6,3.3,2.8,0.8,0.4,1.7,1.8,12.8,2021-2022,1.610613e+09
16,1629638,Nickeil Alexander-Walker,SG,23,UTA,15.0,2.0,9.9,1.1,3.2,...,1.5,1.5,1.1,0.3,0.3,0.5,1.0,3.5,2021-2022,1.610613e+09
17,1628960,Grayson Allen,SG,25,MEM,50.0,38.0,25.2,3.5,8.3,...,2.8,3.2,2.2,0.9,0.2,1.0,1.4,10.6,2020-2021,1.610613e+09
18,1628960,Grayson Allen,SG,26,MIL,66.0,61.0,27.3,3.9,8.6,...,2.9,3.4,1.5,0.7,0.3,0.7,1.5,11.1,2021-2022,1.610613e+09
19,1628386,Jarrett Allen,C,22,Other,63.0,45.0,29.6,4.7,7.7,...,6.9,10.0,1.7,0.5,1.4,1.6,1.5,12.8,2020-2021,0.000000e+00
20,1628386,Jarrett Allen,C,22,BKN,12.0,5.0,26.7,3.7,5.4,...,7.3,10.4,1.7,0.6,1.6,1.8,1.8,11.2,2020-2021,1.610613e+09
21,1628386,Jarrett Allen,C,22,CLE,51.0,40.0,30.3,5.0,8.2,...,6.8,9.9,1.7,0.5,1.4,1.5,1.5,13.2,2020-2021,1.610613e+09
22,1628386,Jarrett Allen,C,23,CLE,56.0,56.0,32.3,6.6,9.7,...,7.3,10.8,1.6,0.8,1.3,1.7,1.7,16.1,2021-2022,1.610613e+09
23,1630631,Jose Alvarado,PG,23,NOP,54.0,1.0,15.4,2.4,5.4,...,1.4,1.9,2.8,1.3,0.1,0.7,1.4,6.1,2021-2022,1.610613e+09
24,202329,Al-Farouq Aminu,PF,30,Other,23.0,14.0,18.9,1.7,4.3,...,3.8,4.8,1.3,0.8,0.4,1.2,1.3,4.4,2020-2021,0.000000e+00
25,202329,Al-Farouq Aminu,PF,30,ORL,17.0,14.0,21.6,2.1,5.2,...,4.2,5.4,1.7,1.0,0.5,1.5,1.3,5.5,2020-2021,1.610613e+09
26,202329,Al-Farouq Aminu,PF,30,CHI,6.0,0.0,11.2,0.3,1.7,...,2.8,3.2,0.3,0.3,0.0,0.5,1.2,1.5,2020-2021,1.610613e+09
27,1626147,Justin Anderson,SF,28,Other,16.0,6.0,19.8,2.3,5.9,...,2.6,2.9,2.1,0.5,0.4,0.5,1.4,6.4,2021-2022,0.000000e+00
28,1626147,Justin Anderson,SF,28,CLE,3.0,0.0,15.7,1.3,2.7,...,2.0,2.0,2.0,0.3,0.0,0.7,1.3,4.3,2021-2022,1.610613e+09
29,1626147,Justin Anderson,SF,28,IND,13.0,6.0,20.7,2.5,6.7,...,2.8,3.1,2.1,0.5,0.5,0.5,1.4,6.8,2021-2022,1.610613e+09
30,203937,Kyle Anderson,PF,27,MEM,69.0,69.0,27.3,4.5,9.5,...,5.0,5.7,3.6,1.2,0.8,1.2,1.7,12.4,2020-2021,1.610613e+09
31,203937,Kyle Anderson,PF,28,MEM,69.0,11.0,21.5,3.0,6.8,...,4.3,5.3,2.7,1.1,0.7,1.0,1.6,7.6,2021-2022,1.610613e+09
32,203507,Giannis Antetokounmpo,PF,26,MIL,61.0,61.0,33.0,10.3,18.0,...,9.4,11.0,5.9,1.2,1.2,3.4,2.8,28.1,2020-2021,1.610613e+09
33,203507,Giannis Antetokounmpo,PF,27,MIL,67.0,67.0,32.9,10.3,18.6,...,9.6,11.6,5.8,1.1,1.4,3.3,3.2,29.9,2021-2022,1.610613e+09
34,1628961,Kostas Antetokounmpo,PF,23,LAL,15.0,0.0,3.7,0.2,0.7,...,1.0,1.3,0.1,0.1,0.3,0.7,0.5,0.8,2020-2021,1.610613e+09
35,203648,Thanasis Antetokounmpo,SF,28,MIL,57.0,3.0,9.7,1.2,2.4,...,1.2,2.2,0.8,0.4,0.2,0.8,1.3,2.9,2020-2021,1.610613e+09
36,203648,Thanasis Antetokounmpo,SF,29,MIL,48.0,6.0,9.9,1.5,2.7,...,1.3,2.1,0.5,0.3,0.3,0.5,1.4,3.6,2021-2022,1.610613e+09
37,2546,Carmelo Anthony,PF,37,LAL,69.0,3.0,26.0,4.6,10.5,...,3.3,4.2,1.0,0.7,0.8,0.9,2.4,13.3,2021-2022,1.610613e+09
38,1630175,Cole Anthony,PG,20,ORL,47.0,34.0,27.1,4.7,11.7,...,3.9,4.7,4.1,0.6,0.4,2.3,2.1,12.9,2020-2021,1.610613e+09
39,1630175,Cole Anthony,PG,21,ORL,65.0,65.0,31.7,5.5,14.0,...,4.9,5.4,5.7,0.7,0.3,2.6,2.6,16.3,2021-2022,1.610613e+09
40,1627853,Ryan Arcidiacono,PG,26,CHI,44.0,0.0,10.2,1.1,2.7,...,1.4,1.5,1.3,0.2,0.0,0.2,1.1,3.1,2020-2021,1.610613e+09
41,2772,Trevor Ariza,SF,36,LAL,24.0,11.0,19.3,1.4,4.1,...,3.0,3.4,1.1,0.5,0.3,0.5,0.8,4.0,2021-2022,1.610613e+09
42,201571,D.J. Augustin,PG,34,HOU,34.0,2.0,15.0,1.6,4.0,...,1.0,1.2,2.2,0.3,0.0,1.3,0.5,5.4,2021-2022,1.610613e+09
43,1628962,Udoka Azubuike,C,21,UTA,15.0,0.0,3.8,0.3,0.6,...,0.6,0.9,0.0,0.1,0.3,0.2,0.6,1.1,2020-2021,1.610613e+09
44,1628407,Dwayne Bacon,SG,25,ORL,72.0,50.0,25.7,4.1,10.1,...,2.7,3.1,1.3,0.6,0.1,0.6,1.4,10.9,2020-2021,1.610613e+09
45,1628963,Marvin Bagley III,PF,21,SAC,43.0,42.0,25.9,5.7,11.4,...,4.9,7.4,1.0,0.5,0.5,1.4,2.3,14.1,2020-2021,1.610613e+09
46,1628963,Marvin Bagley III,PF,22,SAC,30.0,17.0,21.9,3.8,8.2,...,4.9,7.2,0.6,0.3,0.4,0.7,1.7,9.3,2021-2022,1.610613e+09
47,1628963,Marvin Bagley III,PF,22,DET,18.0,8.0,27.2,6.2,11.1,...,4.7,6.8,1.1,0.7,0.4,1.0,2.4,14.6,2021-2022,1.610613e+09
48,1630163,LaMelo Ball,PG,20,CHA,75.0,75.0,32.3,7.2,16.7,...,5.2,6.7,7.6,1.6,0.4,3.3,3.2,20.1,2021-2022,1.610613e+09
49,1628366,Lonzo Ball,PG,23,NOP,55.0,55.0,31.8,5.3,12.7,...,4.2,4.8,5.7,1.5,0.6,2.2,1.9,14.6,2020-2021,1.610613e+09

In [87]:
# Obtener lista de columnas
cols = list(df_stats_filtered.columns)

# Mover full_name a la segunda posición
cols.insert(1, cols.pop(cols.index("full_name")))

# Reordenar DataFrame
df_stats_filtered = df_stats_filtered[cols]

# Verificar
print(df_stats_filtered.head())

   player_id         full_name Pos  Age   Tm     G    GS    MP   FG  FGA  ...  \
0    1630173  Precious Achiuwa  PF   21  MIA  61.0   4.0  12.1  2.0  3.7  ...
1    1630173  Precious Achiuwa   C   22  TOR  73.0  28.0  23.6  3.6  8.3  ...
2    1629121      Jaylen Adams  PG   24  MIL   7.0   0.0   2.6  0.1  1.1  ...
3     203500      Steven Adams   C   27  NOP  58.0  58.0  27.7  3.3  5.3  ...
4     203500      Steven Adams   C   28  MEM  76.0  75.0  26.3  2.8  5.1  ...

   DRB   TRB  AST  STL  BLK  TOV   PF  PTS       Year       team_id
0  2.2   3.4  0.5  0.3  0.5  0.7  1.5  5.0  2020-2021  1.610613e+09
1  4.5   6.5  1.1  0.5  0.6  1.2  2.1  9.1  2021-2022  1.610613e+09
2  0.4   0.4  0.3  0.0  0.0  0.0  0.1  0.3  2020-2021  1.610613e+09
3  5.2   8.9  1.9  0.9  0.7  1.3  1.9  7.6  2020-2021  1.610613e+09
4  5.4  10.0  3.4  0.9  0.8  1.5  2.0  6.9  2021-2022  1.610613e+09

[5 rows x 32 columns]

In [90]:
df_stats_filtered.to_csv("C:/Users/Celia V/Desktop/HENRY/PROYECTO FINAL/player_stats.csv", index=False)